*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-group{
  position: fixed;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
}
input{
  width: 90%;
  height: 45px;
  border-radius: 5px;
}
button{
  height: 45px;
  width: 9.1%;
  border-radius: 5px;
}
.messages-container{
  width: 90%;
  margin : auto;
  margin-top: 10px;
  background-color: rgb(156, 178, 197);
  height: 90vh;
}
li{
  margin: 20px 20px;
  height: 25px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #fff;
  list-style-type: none;
  display: inline-block;
  width: 50%;
}