/* *{
    margin: 1vw;
} */
/* p{
    width: 50%;
}
a {
    color: rgb(27, 118, 254);
    text-decoration: none;
    display: inline-block;
}
li {
    list-style-type: square;
    margin-left: 0;
} */

#img {
    margin-left: 6vw;
    width: 15%;
    padding-bottom: 3vw;
}