* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.game {
    width: 700px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    margin-top: 45px;
}
#character {
    background-color: blue;
    left: 30px;
    width: 30px;
    height: 70px;
    position: relative;
    top: 277px;
}
.animation {
    animation: jump .7s linear;
    -webkit-animation: jump .7s linear;
}
@keyframes jump {
    0%{
        top: 277px;
    }
    30%{
        top: 200px;
    }
    50%{
        top: 200px;
    }
    75%{
        top: 230px;
    }
    100%{
        top: 277px;
    }
}
#block {
    background-color: black;
    width: 30px;
    height: 30px;
    position: relative;
    top: 247px;
    left: 666px;
    /* animation: block 2s infinite linear;
    -webkit-animation: block 2s infinite linear; */
}
@keyframes block {
    0%{
        left: 50vw;
    }
    100%{
        left: -3vw;
    }
}
.score {
    text-align: center;
    margin-top: 2vw;
}