* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.massage-container {
  width: 56%;
  margin: auto;
  margin-top: 2vw;
  background-color: aquamarine;
  height: 85vh;
}
.input-group {
  position: fixed;
  bottom: 2vw;
  right: 42%;
  transform: translateX(49%);
  -webkit-transform: translateX(49%);
  -moz-transform: translateX(49%);
  -ms-transform: translateX(49%);
  -o-transform: translateX(49%);
  width: 70%;
}
input {
  width: 70%;
  height: 3vw;
  border-radius: .3vw;
  -webkit-border-radius: .3vw;
  -moz-border-radius: .3vw;
  -ms-border-radius: .3vw;
  -o-border-radius: .3vw;
}
button {
  cursor: pointer;
  height: 3vw;
  width: 9%;
  border-radius: .3vw;
  -webkit-border-radius: .3vw;
  -moz-border-radius: .3vw;
  -ms-border-radius: .3vw;
  -o-border-radius: .3vw;
}
li {
  margin: 2vw 2vw;
  height: 2vw;
  border-radius: .2vw;
  -webkit-border-radius: .2vw;
  -moz-border-radius: .2vw;
  -ms-border-radius: .2vw;
  -o-border-radius: .2vw;
  background-color: rgb(50, 50, 255);
  list-style-type: none;
  display: inline-block;
  width: 40%;
}