* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

@font-face {
    font-family: 'Alibaba-Black';
    src: url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.eot');
    src: url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.eot?#iefix') format('embedded-opentype'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.woff2') format('woff2'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.woff') format('woff'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-Bold';
    src: url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.eot');
    src: url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.woff2') format('woff2'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.woff') format('woff'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-Regular';
    src: url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.eot');
    src: url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.woff2') format('woff2'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.woff') format('woff'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Alibaba-Regular", Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: .5rem;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d4d4d4; 

}
   
::-webkit-scrollbar-thumb {
    background: var(--lightGray); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #dbdbdb; 
    box-shadow: inset 0 0 5px grey; 
}
