* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

@font-face {
    font-family: 'Alibaba-Black';
    src: url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.eot');
    src: url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.eot?#iefix') format('embedded-opentype'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.woff2') format('woff2'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.woff') format('woff'), url('../assets/assets/fonts/Alibaba-Black/Alibaba-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-Bold';
    src: url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.eot');
    src: url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.woff2') format('woff2'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.woff') format('woff'), url('../assets/fonts/Alibaba-Bold/Alibaba-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-Regular';
    src: url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.eot');
    src: url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.woff2') format('woff2'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.woff') format('woff'), url('../assets/fonts/Alibaba-Regular/Alibaba-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Alibaba-Regular", Helvetica, sans-serif;
    background-color: #F6F6F6;
    overflow-x: hidden;
    position: relative;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
}

.flex-row1 {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.px {
    padding: 0 40px;
}
.mx {
    margin: 0 40px;
}

.positionRel {
    position: relative;
}

.border {
    border: 1px solid #0000001a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.border-radius {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.display {
    display: block !important;
}