:root {
    --whiteless: #F6F6F6;
    --orange: #FDB713;
    --texts: #4b5259;
    --black: #0a0b0c;
    --green: #84E199;
    --white: #ffffff;
    --fontSize1: 1.1rem;
    --lightGray: #e2e2e2;
    --blue: #0077db;
}

header * {
    color: var(--texts) !important;
}

header li:not(:last-child)::before {
    content: "";
    display: block;
    width: 1.4px;
    height: 1.5rem;
    background: var(--lightGray);
}

.tickets-part img {
    object-fit: cover;
}