:root {
    --whiteless: #F6F6F6;
    --orange: #FDB713;
    --texts: #4b5259;
    --black: #0a0b0c;
    --green: #84E199;
    --white: #ffffff;
    --fontSize: 1.2vw;
    --lightGray: #0000001a;
}

header {
    width: 100%;
    height: 70px;
    background: var(--white);
    position: sticky;
    flex-direction: row !important;
    
    * {
        font-size: var(--fontSize);
        color: var(--texts);
    }

    .header-left {
        width: 25%;
        margin: 0 30px;
        i {
            padding: 0 10px;
        }
    }

    .header-navbar {
        width: 50%;

        .menu-box {
            position: absolute;
            background: var(--white);
            display: flex;
            flex-direction: column;
            width: 140px;
            align-items: center;
            justify-content: space-around;
            height: 90px;
            top: 180%;
            right: -20px;
            li{
                padding-bottom: 10px;
                &:first-child {
                    border-bottom: 1px solid var(--lightGray);
                }
            }
        }

        ul {
            width: 100%;
            flex-wrap: wrap;

            .header-navbar-item{
                border-left: 1px solid var(--lightGray);
                padding-left: 15px;

                &:last-child {
                    border: none;
                }
            }

            .more , .parvaz-menu {
                display: none;
            }
        }
    }

    .header-right {
        width: 15%;

        * {
            color: var(--black);
        }

        .logo {
            width: 100%;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            p {
                font-size: .8vw;
            }
        }
    }
}

.banner {
    width: 100vw;
    height: 320px;
    position: relative;
    
    .banner-imgs {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .banner-ticket {
        width: 94%;
        height: 300px;
        position: absolute;
        top: 220px;
        background: var(--white);
        
        .banner-list {
            height: 150px;
            padding: 10px 0;
            .banner-lists {
                height: 90px;
                .lists {
                    justify-content: center;
                    flex-wrap: wrap;
                    height: 100%;
                    border-bottom: 1px solid var(--lightGray);
                    li {
                        height: 100%;
                        color: var(--texts);
                    }
                }
            }
        }

        .choose {
            text-align: right;
            margin: 30px 100px 0 0;
        }
    }
}