* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        max-width: 85%;
        height:500px;
        overflow: hidden;

        header {
            display: flex;
            width: 100%;
            align-items: center;

            div , button {
                width: calc(100%/3);
                /* text-align: center; */

                &.ham-menu {
                    span {
                        display: block;
                        width: 30px;
                        height: 4px;
                        background: #7e7e7e;
                        margin: 5px 0;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }

                &.logo {
                    text-align: center;
                }
            }

            button {
                background: #fff;
                border: none;
                outline: none;

                i {
                    font-size: 17px;
                    color: #7e7e7e;
                }

                input {
                    border: none;
                    outline: none;
                    width: 70%;
                }
            }
        }

        .favor-slider {
            padding: 35px 0;
            background: #eff3f7;

            ul {
                display: flex;

                li {
                    min-width: 100px;
                    height: 100px;
                    margin: 0 8px;
                    text-align: center;

                    &:first-child {
                        margin-left: 15px;
                        width: 100px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        object-fit: cover;
                        margin: -10px 0 5px 0;
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }

        
    }
}
